In [2]:
from json import load
from openpyxl import load_workbook
from openpyxl.utils.cell import coordinate_from_string, column_index_from_string, get_column_letter
import pandas as pd

from loading import *

PATH = 'SAMPLES\zz_lista_volontera_24_25.xlsx'

year_df = load_year(PATH)

<>:8: SyntaxWarning: invalid escape sequence '\z'
<>:8: SyntaxWarning: invalid escape sequence '\z'
C:\Users\Lobel\AppData\Local\Temp\ipykernel_1564\3450123281.py:8: SyntaxWarning: invalid escape sequence '\z'
  PATH = 'SAMPLES\zz_lista_volontera_24_25.xlsx'

In [46]:
display(year_df)

print(len(year_df['volunteer_dates'].sum()))
print(len(year_df))

print(year_df['volunteer_name'].is_unique)

,volunteer_name,volunteer_dates,volunteer_class,volunteer_school
0,Adam Bessen,[],3. razred,III.
1,Ana Bago,[],2. razred,XV.
2,Ana Brkljačić,"[(Trešnjevka, 5.11.2024.), (Špansko, 30.10.202...",2. razred,GLV
3,Ana Jukić,"[(Peščenica, 8.10.2024.), (Peščenica, 10.10.20...",2. razred,XV.
4,Ana Jurić,[],2. razred,XV.
...,...,...,...,...
173,Vito Perše,[],3. razred,GLV
174,Vito Pokupčić,"[(Peščenica, 12.11.2024.)]",3. razred,XV.
175,Vito Popović,"[(Trešnjevka, 24.10.2024.), (Trešnjevka, 21.11...",3. razred,GLV
176,Zoe Posokhova,[],2. razred,XV.
177,Zora Hranuelli,[],2. razred,XV.

327
178
True

In [2]:
# Load the workbook, data_only=True to get the values of the formulas not the formulas themselves
wb = load_workbook('SAMPLES\zz_lista_volontera_24_25.xlsx', data_only=True)
sheets = wb.sheetnames

volounter_hours_per_location = []

for sheet in sheets[1:]:
    
    location_df = load_location(wb, sheet)

    location_df = location_df.sort_values(by='volunteer_dates', key=lambda x: x.apply(len), ascending=False)

    location_df['volunteer_hours'] = location_df['volunteer_dates'].apply(lambda x: len(x))

    count = len(location_df)

    location_df = location_df[location_df['volunteer_hours'] > 0]

    print(location_dict[sheet], 'Postotak aktivnih volontera (>1)', round(len(location_df)/count, 2))
    print(location_dict[sheet], 'Prosječna dolaznost po volonteru', round(location_df['volunteer_hours'].sum()/count, 2))
    print(location_dict[sheet], 'Prosječna dolaznost po aktivnom volonteru', round(location_df['volunteer_hours'].sum()/len(location_df), 2))
    print(location_dict[sheet], 'Ukupno sati', location_df['volunteer_hours'].sum())
    
    volounter_hours_per_location.append(location_df['volunteer_hours'].sum())
    
    print()
    
print('Ukupno sati', sum(volounter_hours_per_location))

Trešnjevka Postotak aktivnih volontera (>1) 0.4
Trešnjevka Prosječna dolaznost po volonteru 1.21
Trešnjevka Prosječna dolaznost po aktivnom volonteru 3.03
Trešnjevka Ukupno sati 97

Peščenica Postotak aktivnih volontera (>1) 0.48
Peščenica Prosječna dolaznost po volonteru 1.67
Peščenica Prosječna dolaznost po aktivnom volonteru 3.51
Peščenica Ukupno sati 179

Špansko Postotak aktivnih volontera (>1) 0.35
Špansko Prosječna dolaznost po volonteru 0.94
Špansko Prosječna dolaznost po aktivnom volonteru 2.68
Špansko Ukupno sati 51

Ukupno sati 327

<>:2: SyntaxWarning: invalid escape sequence '\z'
<>:2: SyntaxWarning: invalid escape sequence '\z'
C:\Users\Lobel\AppData\Local\Temp\ipykernel_20708\1964379517.py:2: SyntaxWarning: invalid escape sequence '\z'
  wb = load_workbook('SAMPLES\zz_lista_volontera_24_25.xlsx', data_only=True)